<div id="modal-body">
  {{#if options.title}}
    <p class="title large">{{options.title}}</p>
  {{/if}}

  {{#if options.throbber}}
    <p class="throbber">
      <img src="/img/seer/loading.gif">
    </p>
  {{/if}}

  {{#if options.message}}
    {{#raw options.message}}{{/raw}}
  {{/if}}

  {{#if options.form}}
  <div class="form">
    {{#formbuilder options.form}}{{/formbuilder}}
  </div>
  {{/if}}

  {{#if options.gutter}}
  <div class="gutter">
    {{#if options.buttons}}
      {{#each options.buttons}}
        <button action="{{action}}" data-color="{{color}}">{{text}}</button>
      {{/each}}
    {{else}}
      <button action="submit" data-color="green">{{options.submitText}}</button>
      <button action="cancel" data-color="gray">{{options.cancelText}}</button>
    {{/if}}
    <div class="clearfix"></div>
  </div>
  {{/if}}
</div>
