<div id="dash_content" class="clearfix">
  <div class="graphBuilderControls">
    <div class="breadcrumb">
      <span>Dashboard</span> &raquo; Chart Editor
    </div>
    <div class="accordion">
      <div class="group expanded">
        <div class="head">
          <h2>Chart Style</h2>
          <div class="toggle"></div>
        </div>
        
        <div class="content">
          <div class="chartStyleType">
            <label>Column:</label>
            <button>Style 1</button>
            <button>Style 2</button>
          </div>
          
          <div class="chartStyleType">
            <label>Bar:</label>
            <button>Style 1</button>
            <button>Style 2</button>
          </div>
          
          <div class="chartStyleType">
            <label>Scatter &amp; Area:</label>
            <button>Style 1</button>
            <button>Style 2</button>
          </div>
          
          <div class="chartStyleType">
            <label>Line:</label>
            <button>Style 1</button>
            <button>Style 2</button>
          </div>
        </div> 
      </div>
      
      <div class="group">
        <div class="head">
          <h2>Data &amp; Labels</h2>
          <div class="toggle"></div>
        </div>
        
        <div class="content">
          <table>
            <tr>
              <td>Name:</td>
              <td><input type="text" name="name" value="" id="#chartinput"></td>
            </tr>
            <tr>
              <td>X Axis:</td>
              <td>
                <select name="olap_xaxis" id="#chartinput">
                  <option value="" ></option>
                </select>
              </td>
            </tr>
            <tr>
              <td>X Title:</td>
              <td><input type="text" name="xTitle" value="" id="#chartinput"></td> 
            </tr>
            <tr>
              <td>Y Axis:</td>
              <td><select  name="olap_yaxis" id="#chartinput">
                 
                    <option value="ha" selected="selected">Option1 </option>
                  
                  </select><br>
                  <select name="color"  id="#chartinput">
                 
                    <option value="" selected="selected"></option>
                  
                  </select>
              </td>
            </tr>
            <tr>
              <td>Y Title:</td>
              <td><input type="text" name="yTitle" value="" id="#chartinput"></td> 
            </tr>
          </table>           
        </div>
      </div>
      
      <div class="group">
        <div class="head">
          <h2>Colors</h2>
          <div class="toggle"></div>
        </div>
        
        <div class="content">Shit 2</div>
      </div>
      
      <div style="text-align: right"><button class="save">Save</button></div>
    </div>
  </div>
  
  <div class="graphBuilderPreview">
    <img src="/img/chart.png">
  </div>
  
  <div class="dashboardGrid">
    <ul id="widget_grid" class="clearfix">
      {{#each widgets}}
      <li class="widget_container" cols="{{this.cols}}" style="width: {{this.width}}%;{{#if this.boxHeight}} height:{{this.boxHeight}}px;{{/if}}">
        <div class="widget"{{#if this.height}} style="height:{{this.height}}px;"{{/if}}>
          <div class="header">
            <h2>{{this.title}}</h2>
            <div class="button config"/>
            <div class="button close"/>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>    
  </div>
</div>
