<div id="dash_content" class="clearfix">
  <div class="graphBuilderControls">
    <!-- Top level breadcrumb nav -->
    <div class="breadcrumb">
      <span>Dashboard</span> &raquo; Chart Editor
    </div>
    
    <!-- Chart builder accordion -->
    <div class="accordion">
      <div class="group expanded">
        <div class="head">
          <h2>Chart Style</h2>
          <div class="toggle"></div>
        </div>
        
        <div class="content">
          <div class="chartStyleType">
            <label>Pane:</label>
            <button><img width="24" height="24" src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Actions-office-chart-line-percentage-icon.png"></button>
          </div>
          
          <div class="chartStyleType">
            <label>Bar:</label>
            <button><img width="24" height="24" src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Actions-office-chart-bar-stacked-icon.png"></button>
          </div>
          
          <div class="chartStyleType">
            <label>Line:</label>
            <button><img width="24" height="24" src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Actions-office-chart-line-icon.png"></button>
          </div>
          
          <div class="chartStyleType">
            <label>Spline:</label>
            <button><img width="24" height="24" src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Actions-office-chart-line-icon.png"></button>
          </div>          

          <div class="chartStyleType">
            <label>Pie:</label>
            <button><img width="24" height="24" src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Actions-office-chart-line-icon.png"></button>
          </div>
          
          <div class="chartStyleType">
            <label>Scatter</label>
            <button><img width="24" height="24" src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Actions-office-chart-scatter-icon.png"></button>
          </div>
        </div> 
      </div>
      
      <div class="group">
        <div class="head">
          <h2>Data &amp; Labels</h2>
          <div class="toggle"></div>
        </div>
        
        <div id="chartbuilder" class="content">
          <p>Name:</p>
          <input type="text" name="name" value="{{chartSettings.attrib.name}}" class="chartinput">
          <p>X&nbsp;Axis:</p>
          <select name="olap_xaxis" class="chartinput">
          {{#chartSettings.vars}}
            <option value="{{fieldname}}" {{#if isx}}selected="selected"{{/if}}>{{varname}}</option>
          {{/chartSettings.vars}}
          </select>
          <p>X Title:</p>
          <input type="text" name="xTitle" value="{{chartSettings.attrib.xTitle}}" class="chartinput">
          <p>Y Axis:</p>
          <select name="olap_yaxis" class="chartinput">
            {{#chartSettings.vars}}
            <option value="{{fieldname}}" {{#if isy}}selected="selected"{{/if}}>{{varname}}</option>
            {{/chartSettings.vars}}
          </select>
          <p>Y Title:</p>
          <input type="text" name="yTitle" value="{{chartSettings.attrib.yTitle}}" class="chartinput">
        </div>
      </div>
      
      <div class="group">
        <div class="head">
          <h2>Colors</h2>
          <div class="toggle"></div>
        </div>
        
        <div class="content">
          <div class="oneLine">
            <label>Palette:</label>
            <select id="palette_select">
            {{#each palettes}}
              <option {{#if this.default}}selected="selected" {{/if}}value="{{this.id}}">{{this.title}}</option>
            {{/each}}
            </select>
            <div id="palette_preview"></div>
          </div>
          
          <div class="oneLine">
            <label>Categories:</label>
              <div class="categories">
              <div class="category">
                <span class="title">Chart Color</span>
                <div id="numEvalColor" class="color-block live"></div>
              </div>
            </div>
          </div>
          
          <div class="oneLine floated clearfix">
            <label>Chart Title:</label>
            <div id="chartTitleColor" class="color-block live"></div>
          </div>
          
          <div class="oneLine floated clearfix">
            <label>Labels:</label>
            <div id="chartLabelColor" class="color-block live"></div>
          </div>          
        </div>
      </div>
      
      <div style="text-align: right"><button class="save" id="cancelAction">Cancel</button></div>
      <div style="text-align: right"><button class="save" id="saveAction">Save</button></div>
    </div>
  </div>
  
  <!-- Big chart for preview -->
  <div class="graphBuilderPreview">
    <img src="/img/chart.png">
  </div>
  
  <!-- Widgets added here -->
  <div class="dashboardGrid">
    <ul id="widget_grid" class="clearfix"></ul>    
  </div>
</div>
