<tr id="{{id}}" class="tr">
{{#each values}}
  <td class="td {{this.class}}" {{#if this.title}}title="{{this.title}}"{{/if}}>{{#if this.value.html}}<span {{#if this.title}}title="{{this.title}}"{{/if}}>{{{this.value.html}}}</span>{{/if}}</td>
{{/each}}
</tr>