<div class="hider">
</div>
{{#if header}}
  {{{header}}}
{{/if}}
<table class="{{#each classes}}{{this}} {{/each}}static"  style="{{#each styles}}{{{this}}}{{/each}}">
    <thead class="thead">
     {{#each columns}}
         <th class="th {{#if this.sortable}}sortable{{/if}}" title="{{this.title}}" {{#if this.data.key}}data-key="{{this.data.key}}"{{/if}}>
             <div class="placeholder">{{this.title}}</div>
         </th>
     {{/each}}
    </thead>
    <tbody class="tbody">
{{#each rows}}
  {{{this}}}
{{/each}}
    </tbody>
</table>
{{#if footer}}
  {{{footer}}}
{{/if}}
