{{#if header}}
  {{{header}}}
{{/if}}
<div class="{{classes}}">
  <div class="thead">
    {{#each cols}}
      <div class="th {{#if this.sortable}}sortable{{/if}}" title="{{this.title}}" data-key="{{this.key}}">
        {{this.title}}
      </div>
    {{/each}}
  </div>
  <div class="tcontent">
        {{#each rows}}
          {{{this}}}
        {{/each}}
        <div style="clear:both;"></div>
  </div>
</div>
