<div class="hider">
</div>
{{#if header}}
  {{{header}}}
{{/if}}
<div class="show-hide">
  <h2>Show / Hide Columns</h2>
  <hr>
  <div class="items">
  {{#each cols}}
    <div class="item">
      <input type="checkbox" id="show-hide-{{this.key}}" name="show-hide-{{this.key}}" value="{{this.key}}" class="show-hide-checkbox" checked/><label for="show-hide-{{this.key}}">{{this.title}}</label>
    </div>
  {{/each}}
  </div>
</div>
<table class="{{classes}} static">
    <thead class="thead">
	   {{#each cols}}
	       <th class="th {{#if this.sortable}}sortable{{/if}}" title="{{this.title}}" data-key="{{this.key}}">
	           <div class="placeholder">{{this.title}}</div>
	       </th>
	   {{/each}}
    </thead>
    <tbody class="tbody">
{{#each rows}}
{{{this}}}
{{/each}}
    </tbody>
</table>
