<tr id="{{id}}" class="tr">
{{#each values}}
  <td class="td" {{#if this.title}}title="{{this.title}}"{{/if}} {{#each data}}{{{this}}}{{/each}}>
  {{#if this.html}}
    <span {{#if this.title}}title="{{this.title}}"{{/if}}>
      {{#if this.href}}<a href="#{{this.href}}">{{/if}}{{{this.html}}}{{#if this.href}}</a>{{/if}}
    </span>
  {{/if}}
  </td>
{{/each}}
</tr>
