{{#each items}}

  <div class="item" data-id="{{ id }}" {{#if required}}data-required="required"{{/if}}>
    {{#if_eq type compare="text"}}
      <div class="grp right">
        <label>{{../label}}{{#if ../required}}<span class="req">*</span>{{/if}}</label>
        <input type="text" data-key="{{ ../id }}" value="{{ ../default }}">
      </div>
    {{/if_eq}}

    {{#if_eq type compare="password"}}
      <div class="grp right">
        <label>{{../label}}{{#if ../required}}<span class="req">*</span>{{/if}}</label>
        <input type="password" data-key="{{ ../id }}" value="{{ ../default }}">
      </div>
    {{/if_eq}}

    {{#if_eq type compare="textarea"}}
      <div class="grp right">
        <label>{{../label}}{{#if ../required}}<span class="req">*</span>{{/if}}</label>
        <textarea data-key="{{ ../id }}">{{ ../default }}</textarea>
      </div>
    {{/if_eq}}

    {{#if_eq type compare="radio"}}
      <label>{{../label}}{{#if ../required}}<span class="req">*</span>{{/if}}</label>
      {{#each ../values}}
        <div class="grp">
          <input type="radio" name="{{ ../../id }}" data-key="{{ ../../id }}" value="{{ this }}">
          <label>{{ this }}</label>
        </div>
      {{/each}}
    {{/if_eq}}

    {{#if_eq type compare="checkbox"}}
      <label>{{../label}}{{#if ../required}}<span class="req">*</span>{{/if}}</label>
      {{#each ../values}}
        <div class="grp">
          <input type="checkbox" name="{{ ../../id }}" data-key="{{ ../../id }}" value="{{ this }}">
          <label>{{ this }}</label>
        </div>
      {{/each}}
    {{/if_eq}}

    {{#if_eq type compare="select"}}
      <div class="grp right">
        <label>{{../label}}{{#if ../required}}<span class="req">*</span>{{/if}}</label>
        <select data-default="{{ ../default }}" data-key="{{ ../id }}" {{#if multiple}}multiple="multiple"{{/if}}>
        {{#if_eq ../default compare="-"}}<option value="-">All</option>{{/if_eq}}
        {{#each ../values}}
          <option value="{{ this }}">{{ this }}</option>
        {{/each}}
        </select>
      </div>
    {{/if_eq}}
  </div>

{{/each}}