<div id="image-list">
  {{#each records}}
  <div class="item">
    <div class="body">
      {{#each ../blocks}}
      <div class="block {{this}}">
        
        {{#if_eq this compare="attributes"}}
          <ul>
          {{#key_value ../../attributes}}
            {{#not_in this needle=this.key haystack=../../../../blackList.fields }}
              {{#if_eq this.key compare="capturetime_epoch"}}
                <li><span class="label">Capture Time:</span><span class="value">{{#capturetime ../this.value}}{{/capturetime}}</span></li>
              {{/if_eq}}
              {{#unless_eq this.key compare="capturetime_epoch"}}
                <li><span class="label">{{../this.key}}:</span><span class="value">{{../this.value}}</span></li>
              {{/unless_eq}}
            {{/not_in}}
          {{/key_value}}
          </ul>
        {{/if_eq}}
        
        {{#if_eq this compare="metadata"}}
          <ul>
          {{#key_value ../../attributes.metadata}}
            {{#not_in this needle=this.key haystack=../../../../blackList.metadata }}
              <li><span class="label">{{this.key}}:</span><span class="value">{{this.value}}</span></li>
            {{/not_in}}
          {{/key_value}}
          </ul>
        {{/if_eq}}
        
        {{#if_eq this compare="inspections"}}
          <div id="inspection_{{../../attributes.id}}"></div>
        {{/if_eq}}
        
        {{#if_eq this compare="results"}}
          {{#resultlist ../../attributes.results ../../../blackList "No Results"}}{{/resultlist}}
        {{/if_eq}}
        
      </div>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>
