  <ul>
  {{#key_value features}}
    <li class="{{value.state}}" data-key="{{value.prop}}">
      <div class="key" style="float:left; height:30px; width:24px;"><p style="padding: 10px 8px 0 0; font-size:20px; text-align: center;">{{value.labelkey}}</p></div>
      <p class="title">{{value.title}}:</p>
      <p class="value">{{value.value}}{{value.units}}</p>
      {{#if value.tolerances}}
        <p class="tolerances">
          ( {{value.tolerances.label}}: {{value.tolerances.value}} )
        </p>
      {{/if}}
    </li>
  {{/key_value}}
  </ul>
